@if (ViewData["Message"] != null)
{
    @* <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewData["Message"]
    </div> *@
}	
    <div class="container">
        <div class="row pb-2">
            <div class=column">
                <input type="button" class="btn btn-outline-secondary btn-sm mx-1" title="ConvertToCircles" value="Convert Polyline to Circles" onclick="location.href='@Url.Action("PolylineToCircles", "File")'" />
            </div>
            <div class=column">
                <input type="button" class="btn btn-outline-secondary btn-sm mx-1" title="MoveEqual" value="Move Equal Circles To Unique Layers" onclick="location.href='@Url.Action("CirclesToLayers", "File")?doSave=false'" />
            </div>
        </div>

        <div class="row">
            <canvas id="myCanvas" width="800" height="400" class="border">
            </canvas>
        </div>
    </div>
                       
@section Scripts {
    <script src="~/js/viewer.js"></script>
    <script type="text/javascript">
        window.onload = function(e) {
            getDrawModel();
        }
    </script>
}