@if (ViewData["Message"] != null)
{
    @* <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewData["Message"]
    </div> *@
}	
    <div class="container-fluid">        
        <div class="row">
            <div id="treeMenuDiv" class="col-md-2 px-0 py-0"></div>
            <div id="canvasDiv" class="col-md-8 px-0 py-0">
                <canvas id="drawCanvas" width="200" height="200" class="border">
                    Sorry, your browser doesn't support the &lt;canvas&gt; element.
                </canvas>
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-outline-secondary btn-sm mb-2" title="ConvertToCircles" value="Poly to Circle" onclick="location.href='@Url.Action("PolylineToCircles", "File")'" />
                <input type="button" class="btn btn-outline-secondary btn-sm mb-2" title="MoveEqual" value="Circles to Layers" onclick="location.href='@Url.Action("CirclesToLayers", "File")?doSave=false'" />
            </div>
        </div>
    </div>

@section Scripts {
    <script src="~/js/treeview.js"></script>
    <script src="~/js/viewer.js"></script>
    <script type="text/javascript">
        window.onload = function(e) {
            getDrawModel();
        }
    </script>
}