version: "3.7"

services:
camapi:	
  container_name: camtools.api
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      ASPNETCORE_URLS: http://+:7070
    expose:
      - "7070"
    ports:
      - "7070:7070"

  camclient:
	container_name: camclient
	build:
		context: ./camclient
		dockerfile: Dockerfile
	restart: always
	expose:
		- "4040"
	ports:
		- "4040:4040"

# Remember to start the network before running this file:
# $ docker network create crossword-net
#
# Then you can start each of the docker-compose.yml files like this:
# $ docker-compose -f project_one/docker-compose.yml up -d
# $ docker-compose -f project_two/docker-compose.yml up -d
networks:
  default:
    external:
      name: crossword-net
