.drop-zone {
    border: 2px dashed lightgrey;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 1em;
}

@import url('https://fonts.googleapis.com/css?family=Pacifico|VT323|Quicksand|Inconsolata');
