@{
    ViewData["Title"] = "Home Page";
}

@* <div id="ts-example">
    <br />
    <button type="button" class="btn btn-primary btn-md" onclick="TSButton()">
        Click Me
    </button>
</div> *@

@* <form method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <button type="submit" class="btn btn-primary btn-sm" asp-controller="File" asp-action="UploadToFileSystem">Upload</button>    
</form> *@